.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.contentBelowJumbtron{
  margin-left: 10%;
  margin-right: 20%;
}

.contentWithoutJumbtron{
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 70px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.board tr {
  background-color: cornsilk;
  border: 0px;
}

.theBoard{
  border: 0px;
}

.board td{
  font-size: xx-large;
  font-family: monospace;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  text-align: center;
}

.cell {
  border: 1px solid darkolivegreen;
  background-color: white;
}

.vert {
  border: 0px;
}

.horiz {
  border: 0px;
}

.slash {
  border: 0px;
}